@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 26px;
    margin-left: auto;  
    margin-right: auto;

  }


body{
    font-family: 'Sarala', sans-serif;
    
}
h1{
  text-align: center;
}

.textos{
    text-align: center;
    display: flex;
    width: 70%; 
    margin-left: auto;  
    margin-right: auto;
    
    
}

.link{
	background-color: gray;
	color: #E8F1F2 ;
	border-radius: 26px;
	margin: 10px;
	padding: 10px;
	}

.divcent{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
  height: 250px;
}

